@font-face {
  font-family: 'Brick Riot';
  src:
    url('/assets/fonts/BrickRiotRegular.woff2') format('woff2'),
    url('/assets/fonts/BrickRiotRegular.woff') format('woff'),
    url('/assets/fonts/BrickRiotRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Staatliches';
  src: url('/assets/fonts/Staatliches-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
