---
layout: layouts/base.njk
title: Media Kit
---

<h1>Media Kit</h1>

<p>
  Pre-approved media for promoting DJ Sprenk. Please <a href="/contact">contact</a> before any modifications or using
  alternative media.
</p>

<h2>Bio</h2>
<p>
  DJ Sprenk is a DJ based out of Cambridge, MA, USA, specializing in Brazilian Zouk. He's known for his dynamic, moving,
  and musical sets that challenge convention and connect deeply with dancers across the world.
</p>

<h2>Socials</h2>
<ul class="social-list">
  <li>
    <a href="{{ site.social.mixcloud }}" target="_blank" rel="noopener">
      {% icon "mixcloud" %}
      <span>mixcloud.com/djsprenk</span>
    </a>
  </li>
  <li>
    <a href="{{ site.social.soundcloud }}" target="_blank" rel="noopener">
      {% icon "soundcloud" %}
      <span>soundcloud.com/djsprenk</span>
    </a>
  </li>
  <li>
    <a href="{{ site.social.instagram }}" target="_blank" rel="noopener">
      {% icon "instagram" %}
      <span>instagram.com/djsprenk</span>
    </a>
  </li>
  <li>
    <a href="{{ site.social.facebook }}" target="_blank" rel="noopener">
      {% icon "facebook" %}
      <span>facebook.com/djsprenk</span>
    </a>
  </li>
  <li>
    <a href="{{ site.social.patreon }}" target="_blank" rel="noopener">
      {% icon "patreon" %}
      <span>patreon.com/djsprenk</span>
    </a>
  </li>
</ul>

<h2>Media</h2>
<p>Media approved for promotional use. Other photos / videos require express permission before use.</p>

<h3>Headshots</h3>
<ul class="photo-grid">
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775618338/sprenk_headshot_2023_1.png"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775618338/sprenk_headshot_2023_1.png"
        alt="DJ Sprenk headshot 2023"
      />
      <span>Download</span>
    </a>
  </li>
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775228850/2024_Headshot_DJ_Sprenk_Flambe_70.png"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775228850/2024_Headshot_DJ_Sprenk_Flambe_70.png"
        alt="DJ Sprenk headshot 2024 (Flambe 70)"
      />
      <span>Download</span>
    </a>
  </li>
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775228850/2024_Headshot_DJ_Sprenk_Flambe_36.png"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775228850/2024_Headshot_DJ_Sprenk_Flambe_36.png"
        alt="DJ Sprenk headshot 2024 (Flambe 36)"
      />
      <span>Download</span>
    </a>
  </li>
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775228852/2024_Headshot_DJ_Sprenk_Flambe_66.png"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775228852/2024_Headshot_DJ_Sprenk_Flambe_66.png"
        alt="DJ Sprenk headshot 2024 (Flambe 66)"
      />
      <span>Download</span>
    </a>
  </li>
</ul>

<h3>Gallery</h3>
<ul class="photo-grid">
  <li>
    <a href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/sprenk_2022_action_atlanta_1.jpg" download>
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/sprenk_2022_action_atlanta_1.jpg"
        alt="DJ Sprenk performing at Zouk Conexão Festival, Atlanta 2022"
      />
      <span>Download</span>
    </a>
  </li>
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775229360/sprenk_2023_action_calgary_1.jpg"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775229360/sprenk_2023_action_calgary_1.jpg"
        alt="DJ Sprenk performing in Calgary 2023"
      />
      <span>Download</span>
    </a>
  </li>
  <li>
    <a
      href="https://res.cloudinary.com/damf0mchl/image/upload/fl_attachment/v1775228923/sprenk_2022_action_interfusion_1.jpg"
      download
    >
      <img
        src="https://res.cloudinary.com/damf0mchl/image/upload/v1775228923/sprenk_2022_action_interfusion_1.jpg"
        alt="DJ Sprenk performing at Interfusion Festival 2022"
      />
      <span>Download</span>
    </a>
  </li>
</ul>
